*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    font-family: 'ArcadeClassic', sans-serif;
}

.score{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2{
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button, .match button{
    width: 110px;
    height: 50px;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    background: darkgray;
    border-radius: 6px;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    text-align: center;
    font-size: 50px;

}

.inputbutton, .inputs{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

.table {
    position: absolute;
    top: 10%;
    right: 120%;
}

.restart{
    position: absolute;
    top: 120%;
    right: 38.5%;
}

@keyframes shakePlayer {
    0% {
      transform: translateX(0px);
    }
    15% {
      transform: translateX(+50px);
    }
    25% {
      transform: translateX(0px);
    }
    35% {
      transform: translateX(+50px);
    }
    50% {
      transform: translateX(0px);
    }
    65% {
      transform: translateX(+50px);
    }
    75% {
      transform: translateX(0px);
    }
    85% {
      transform: translateX(+50px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes shakeCpu {
    0% {
      transform: translateX(0px);
    }
    15% {
      transform: translateX(-50px);
    }
    25% {
      transform: translateX(0px);
    }
    35% {
      transform: translateX(-50px);
    }
    50% {
      transform: translateX(0px);
    }
    65% {
      transform: translateX(-50px);
    }
    75% {
      transform: translateX(0px);
    }
    85% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0px);
    }
  }

.texto{
  text-align: center;
  text-indent: 50px;
  letter-spacing: 2px;
  position: absolute;
  top: 30%;
  display: flexbox;
  margin-right: 13%;
  margin-left: 13%;
}

span{
  display: block;
}